{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        
        This website is a dynamic blog platform that I designed and developed using Django, SQLLite, Bootstrap, HTML, and CSS. It is a responsive and user-friendly website that seamlessly integrates various features to enhance the user experience. The Django framework provides a robust backend that is scalable and secure. SQLLite is a lightweight database that is ideal for small to medium-sized projects. Bootstrap is a popular CSS framework that makes it easy to create a visually appealing and responsive website. HTML and CSS are the essential building blocks of all web pages. This project showcases my proficiency in web development and my ability to create an interactive and visually engaging online platform. I am confident that this website will be a valuable resource for users who want to create and share their own content.
        
    </p>
    <p>  
        The website features the following:
         <ol>
            <li> A user-friendly interface that makes it easy to create and manage blog posts.</li>
            <li> A powerful search engine that allows users to find the content they are looking for quickly and easily.</li>
            <li>A commenting system that allows users to interact with each other and with the author of the blog posts.</li>
            <li>A social media integration that allows users to share blog posts on their favorite social media platforms.</li>
            <li>A responsive design that makes the website look great on all devices, including smartphones and tablets.</li>
        </ol>
        
    </p>
    <p> 
        This website offers a number of benefits to users, including:
        <ol>
            <li>The ability to share their thoughts and ideas with the world.</li>
            <li>The opportunity to connect with other people who share their interests.</li>
            <li>A platform to build their online presence and brand.</li>
            <li>A way to learn new things and stay up-to-date on the latest trends.</li>
            <li>A means of expressing themselves creatively.</li>
        </ol>
        I hope you enjoy using this website as much as I enjoyed creating it.
    </p>
{% endblock content %}
